<div>
    <p-toast></p-toast>
    <p-menubar>
        <button type="button" pButton="" icon="pi pi-plus" (click)="novo()" label="Novo"></button>
    </p-menubar>
</div>
<p-panel header="Pessoas">
    <p-table [value]="pessoas" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr class="coder-colunas-titulos">
                <th>Id</th>
                <th>Nome</th>
                <th>Genero</th>
                <th>Altura</th>
                <th>Salario</th>
                <th>Ativo</th>
                <th>Data de nacimento</th>
                <th>&nbsp;</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
            <tr class="coder-colunas-conteudo">
                <td>{{pessoa.id}}</td>
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.genero}}</td>
                <td style="text-align: right;">{{pessoa.altura | number : '1.3-3' }}</td>
                <td style="text-align: right;">{{pessoa.salario | currency:'BRL':true:'1.2-2'}}</td>
                <td style="text-align: center;">{{pessoa.ativo?'Sim':'Não'}}</td>
                <td>{{pessoa.dataDeNacimento | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                <td>
                    <button type="button" pButton icon="pi pi-pencil" (click)="exibirModal(pessoa)" title="Selecionar"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
<p-dialog header="Usuário" [(visible)]="exibirDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"
    [style]="{width: '800px', height: '600px'}">
    <form #pessoaForm="ngForm" (ngSubmit)="onSubmit(pessoaForm)">
    <div class="ui-g ui-fluid" *ngIf="pessoa">
        <div class="ui-g-12">
            <div class="ui-g-4 label">
                <label id="label-id" for="id">Id</label>
            </div>
            <div class="ui-g-8 input">
                <input id="id" name="id" pKeyFilter="int" pInputText placeholder="Id" [(ngModel)]="pessoa.id">
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4 label">
                <label id="label-nome" for="nome">Nome</label>
            </div>
            <div class="ui-g-8 input">
                <input id="nome" name="nome" #nome="ngModel" pInputText placeholder="Nome" [(ngModel)]="pessoa.nome" [required]="true" minlength="4" pattern="^[a-zA-Z\s]+$">
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4 label">
                <label id="label-genero" for="genero">Genero</label>
            </div>
            <div class="ui-g-8 input">
                <p-dropdown id="genero" name="genero" #genero="ngModel" [options]="generos" [(ngModel)]="pessoa.genero" [required]="true"></p-dropdown>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4 label">
                <label id="label-altura" for="altura">Altura</label>
            </div>
            <div class="ui-g-8 input">
                <input id="altura" name="altura" #altura="ngModel" pInputText placeholder="Altura" pKeyFilter="num" [(ngModel)]="pessoa.altura" [required]="true" pattern="^\d+$">
                <i class="pi pi-check" *ngIf="altura.valid"></i>
                <i class="pi pi-times" *ngIf="altura.invalid"></i>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4 label">
                <label id="label-salario" for="salario">Salario</label>
            </div>
            <div class="ui-g-8 input">
                <input id="salario" name="salario" pInputText placeholder="Salario" pKeyFilter="num" [(ngModel)]="pessoa.salario">
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4 label">
                <label id="label-ativo" for="ativo">Ativo</label>
            </div>
            <div class="ui-g-8 input">
                <p-checkbox id="ativo" binary="true" [(ngModel)]="pessoa.ativo" ></p-checkbox>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4 label">
                <label id="label-dataDeNacimento" for="dataDeNacimento">Data de nacimento</label>
            </div>
            <div class="ui-g-8 input">
                <p-calendar id="dataDeNacimento" name="dataDeNacimento" dateFormat="dd/mm/yy" showTime="true" hourFormat="24" [(ngModel)]="pessoa.dataDeNacimento"></p-calendar>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4 label">
                <label id="label-mae" for="mae">Mae</label>
            </div>
            <div class="ui-g-8 input">
                <p-dropdown id="mae" [options]="pessoas" [(ngModel)]="pessoa.mae" optionLabel="nome"></p-dropdown>
            </div>
        </div>
    </div>
    </form>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="salvar()" label="Salvar" [disabled]="!pessoaForm.valid"></button>
            <button type="button" pButton icon="pi pi-times" (click)="confirmarExcluir()" label="Excluir" class="ui-button-secondary" *ngIf="pessoa.id"></button>
        </div>
    </p-footer>
</p-dialog>