<img src="assets/teste.PNG">

<app-header></app-header>
<router-outlet></router-outlet>

<div class="navbar navbar-inverse navbar-fixed-bottom" id="wrapFooter">
	<div class="container">
		<div class="col-md-12" id="wFooter">
			<div div-rodape="">
				<div class="col-md-12" id="wFooter">
					<div id="rodape">
						<p class="padding-top-15">
							<span>Testes Angular - Spring Boot | </span>
							<span style="float: right;">v.1.4.0-SNAPSHOT.0</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>